@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Xóa Loại Phòng</h2>
<fieldset>
    <div class="display-label">Mã loại Phòng: @Model.maloaiPhong</div>
    <div class="display-label">Tên loại phòng: @Model.tenloaiphong</div>
</fieldset>
@using (Html.BeginForm())
{   
    <p>
        <input type="submit" value="Xóa" />
        @Html.ActionLink("Trở Về", "Index")
    </p>
}

