@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Xóa Trạng Thái Phòng</h2>
<fieldset>
    <div class="display-label">MÃ TRẠNG THÁI PHÒNG: @Html.Encode(Model.matrangthaiPhong)</div>
    <div class="display-label">TRẠNG THÁI: @Model.trangthai</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Xóa" />
        @Html.ActionLink("Trở Về", "Index")
    </p>
}
